.user-content {
  margin-bottom: 5px;
  &__avatar {
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }
  &__first-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  &__last-name {
    font-size: 0.85rem;
    margin: -5px 0 0;
  }
}
.spinner-container {
  height: 100vh;
}
